body {
    background-color: yellow;
}

.css-class {
    background-color: lightgray;
    font-size: 18pt;
}

.css-class h1 {
    font-size: 18px;
}

.css-class p {
    font-size: 16px;
    color: orangered;
}

.css-class li {
    color: hotpink;
}